@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Light.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

html,
body,
.container {
  height: 100%;
  background-color: #e5e5e5;
}

.under-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
}

.upper-background {
  position: absolute;
  width: calc(100% - 96px);
  height: calc(100%);
  left: 48px;
  top: -50%;
  background: radial-gradient(
    48.24% 36.4% at 50% 59.21%,
    #5b5b5b 0%,
    #0d0d0d 100%
  );
  opacity: 0.7;
  filter: blur(40px);
}

.main-header {
  width: 100%;
  height: 100px;
}

.sidebar-left {
  width: 384px;
}

.sidebar-right {
  width: 384px;
}

.main-content {
  width: 560px;
  background-color: #6f1616;
}

.main-content .text {
  font-family: Kanit;
  letter-spacing: 36px;
  font-weight: 600;
  font-size: 72px;
  color: #d4b0a2;
  writing-mode: vertical-rl;
  margin-left: 60px;
  margin-top: 30px;
}

.main-container {
  height: 100%;
}

.header__logo,
.header__brand {
  width: 384px;
}

.okami-container {
  width: 560px;
  background-color: #7a0101;
  color: white;
}

.full-name {
  color: #bd8d7b;
  font-size: 18px;
  letter-spacing: 10px;
  font-weight: bold;
  font-family: Gilroy, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.okami-logo {
  width: 36px;
  height: 36px;
}

.okami-logo .line {
  position: absolute;
  width: 2.6px;
  height: 30px;
  background: #bd8d7b;
}

.okami-logo .line2 {
  position: absolute;
  width: 2.6px;
  height: 21px;
  left: 24px;
  top: -1px;
  background: #bd8d7b;
  transform: rotate(45deg);
}

.okami-logo .line3 {
  position: absolute;
  width: 2.6px;
  height: 28px;
  left: 26px;
  top: 2px;
  background: #bd8d7b;
  transform: rotate(45deg);
}

.okami-logo .rect {
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #bd8d7b;
  transform: rotate(45deg);
}

.image-under {
  mix-blend-mode: lighten;
  background-image: url(../images/okami1.jpeg);
  height: calc(100% - 100px);
  width: 210%;
  left: -57%;
  background-size: cover;
  bottom: 0;
}

.v-line-1 {
  position: absolute;
  top: 0;
  left: 48px;
  height: 100%;
  opacity: 0.1;
  border-left: 1px solid #f2f2f2;
}

.v-line-2 {
  position: absolute;
  top: 0;
  left: 384px;
  height: 100%;
  opacity: 0.1;
  border-left: 1px solid #f2f2f2;
}

.v-line-3 {
  position: absolute;
  top: 0;
  right: 48px;
  height: 100%;
  opacity: 0.1;
  border-left: 1px solid #f2f2f2;
}

.v-line-4 {
  position: absolute;
  top: 0;
  right: 384px;
  height: 100%;
  opacity: 0.1;
  border-left: 1px solid #f2f2f2;
}

.h-line-1 {
  position: absolute;
  top: 240px;
  width: 100%;
  opacity: 0.1;
  border-top: 1px solid #f2f2f2;
}

.h-line-2 {
  position: absolute;
  bottom: 180px;
  width: 100%;
  opacity: 0.1;
  border-top: 1px solid #f2f2f2;
}
